
<form class="form inline" {{action login on='submit'}}>
  <h2>Log In</h2>
  <label for="identification">Login</label>
  {{input value=identification type="text" id='identification' placeholder='Enter Login'}}
  <label for="password">Password</label>
  {{input value=password type="text" id='password' placeholder='Enter Password'}}
  <p>{{input value="Login" type="submit" class="btn"}}</p>
</form>
